{% include 'django_blog/page_head.html' %}

    <div class="row">
        <div class="span2"></div>
        <div class="span8" ng-controller="blogCtrl">
            <div ng-repeat="post in all_post">
                <a href="#" ng-click="postDetails(post.id)">{$ post.title $}</a>
                <br/>
                {$ post.create_date $}
                <p align="justify">
                    {$ shortText(post.content) $}
                </p>
                <input type="button" value="ادامه" class="btn" ng-click="postDetails(post.id)">
                <br/>
                <hr/>
            </div>
        </div>
        <div class="span2"></div>
    </div>


{% include 'django_blog/page_end.html' %}
